.from-fade {
  opacity: 0;
  transition-property: opacity, transform;
}

.fade {
  opacity: 1;
  transition-property: opacity;
}

.from-fade-up {
  opacity: 0;
  
  transition-property: opacity, transform;
}

.fade-up {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
}

.from-fade-down {
  opacity: 0;
  transition-property: opacity, transform;
}

.fade-down {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
}

.from-fade-left {
  opacity: 0;
  transition-property: opacity, transform;
}

.fade-left {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
}

.from-fade-right {
  opacity: 0;
  transition-property: opacity, transform;
}

.fade-right {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
}
