#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
  z-index:1;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


    #left {
      left: 100px;
    }
    #right {
      right: 100px;
    }
    #top {
      top: 100px;
    }
    #bottom {
      bottom: 100px;
    }